<div class="container" *ngIf="submitted else codeForm">
  <div class="activation-message" *ngIf="isOkay; else activationError">
    <h2>Attivation riuscita con successo!</h2>
    <p>Il tuo account è stato attivato con successo</p>
    <button class="btn btn-primary" (click)="redirectToLogin()">Vai al Login</button>
  </div>
  <ng-template #activationError>
    <div class="activation-error">
      <h2>Attivazione non riuscita!</h2>
      <p>{{ message }}</p>
      <button class="btn btn-primary" (click)="submitted = false">Riprova</button>
    </div>
  </ng-template>
</div>
<ng-template #codeForm>
  <div class="container">
    <div class="text-center" style="width: 400px;">
      <h2>Inserisci il tuo codice di attivazione</h2>
      <code-input [isCodeHidden]="false"
                  [codeLength]="6"
                  [code]="'number'"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <button class="btn btn-primary mt-3" (click)="redirectToLogin()">Vai al Login</button>
    </div>
  </div>
</ng-template>
