<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Registrazione</h3>
    <hr>
    <form [formGroup]="signupForm">
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="firstName">
          <mat-error *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
            Campo non valido
          </mat-error>
          <mat-error *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.errors?.['required']">
            Il campo è richiesto
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Cognome</mat-label>
          <input matInput type="text" formControlName="lastName"/>
          <mat-error *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
            Campo non valido
          </mat-error>
          <mat-error *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.errors?.['required']">
            Il campo è richiesto
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email"/>
          <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            Campo non valido
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']">
            Il campo è richiesto
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('invalidEmail') && signupForm.get('email')?.touched">
            Email non valida
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="text" formControlName="password"/>
          <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            Campo non valido
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']">
            Il campo è richiesto
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.hasError('invalidPassword') && signupForm.get('password')?.touched">
            Password non valida
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">
            >Password troppo corta
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.errors?.['maxlength'] && signupForm.get('password')?.touched">
            Password troppo lunga
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <button mat-raised-button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary"
                           (click)="onSignupFormSubmit()">Registrati
        </button>
      </div>
    </form>
  </div>
</div>

