<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Registrazione</h3>
    <hr>
    <form [formGroup]="signupForm">
      <div class="mb-3">
        <label>Nome</label>
        <input type="text" class="form-control" formControlName="firstName">
        <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
          <small class="error">Campo non valido</small>
        </div>
        <div *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.errors?.['required']">
          <small class="error"> Il campo è richiesto></small>
        </div>
      </div>
      <div class="mb-3">
        <label>Cognome</label>
        <input type="text" class="form-control" formControlName="lastName"/>
        <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
          <small class="error">Campo non valido</small>
        </div>
        <div *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.errors?.['required']">
          Il campo è richiesto
        </div>
        <!--div *ngIf="loginForm.get('description')?.touched && loginForm.get('description')?.errors?.['minlength']">
          Il campo deve essere lungo almeno 10 caratteri
        </div-->
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email"/>
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          <small class="error"> Campo non valido</small>
        </div>
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']">
          <small class="error">Il campo è richiesto</small>
        </div>
        <div *ngIf="signupForm.get('email')?.hasError('invalidEmail') && signupForm.get('email')?.touched">
          <small class="error">Email non valida</small>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password"/>
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          <small class="error"> Campo non valido</small>
        </div>
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']">
          <small class="error">Il campo è richiesto</small>
        </div>
        <div *ngIf="signupForm.get('password')?.hasError('invalidPassword') && signupForm.get('password')?.touched">
          <small class="error">Password non valida</small>
        </div>
        <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">
          <small class="error">Password troppo corta</small>
        </div>
        <div *ngIf="signupForm.get('password')?.errors?.['maxlength'] && signupForm.get('password')?.touched">
          <small class="error">Password troppo lunga</small>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary" (click)="onSignupFormSubmit()">Registrati</button>
      </div>
    </form>
  </div>
</div>

