<div class="row my-4">
  <div class="col-md-12">
    <h3>Modifica Post</h3>
    <hr>
    <form *ngIf="editPostForm" [formGroup]="editPostForm">
      <div class="mb-5">
        <mat-form-field>
        <mat-label>Titolo</mat-label>
        <input matInput type="text" formControlName="title">
        <mat-error *ngIf="editPostForm.get('title')?.invalid && editPostForm.get('title')?.touched">
          Post non valido
        </mat-error>
        <mat-error *ngIf="editPostForm.get('title')?.touched && editPostForm.get('title')?.errors?.['required']">
          Il campo è richiesto
        </mat-error>
        <mat-error *ngIf="editPostForm.get('title')?.touched && editPostForm.get('title')?.errors?.['minlength']">
          Il campo deve essere lungo almeno 10 caratteri
        </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="editPostForm.get('description')?.invalid && editPostForm.get('description')?.touched">
            Post non valido
          </mat-error>
          <mat-error
            *ngIf="editPostForm.get('description')?.touched && editPostForm.get('description')?.errors?.['required']">
            Il campo è richiesto</mat-error>
          <mat-error
            *ngIf="editPostForm.get('description')?.touched && editPostForm.get('description')?.errors?.['minlength']">
            Il campo deve essere lungo almeno 10 caratteri
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <button mat-flat-button color="primary" (click)="onEditPost()">Modifica post</button>
      </div>
    </form>
  </div>
</div>

