<div class="row my-4">
  <div class="col-md-12">
    <h3>Aggiungi Post</h3>
    <form [formGroup]="addPostForm" >
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Titolo</mat-label>
          <input matInput type="text" formControlName="title">
          <mat-error *ngIf="addPostForm.get('title')?.invalid && addPostForm.get('title')?.touched">
            Post non valido
          </mat-error>
          <mat-error *ngIf="addPostForm.get('title')?.touched && addPostForm.get('title')?.errors?.['required']">
            Il campo è richiesto
          </mat-error>
          <mat-error *ngIf="addPostForm.get('title')?.touched && addPostForm.get('title')?.errors?.['minlength']">
            Il campo deve essere lungo almeno 10 caratteri
          </mat-error>
        </mat-form-field>

      </div>
      <div class="mb-5">
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <div *ngIf="addPostForm.get('description')?.invalid && addPostForm.get('description')?.touched">
            Post non valido
          </div>
          <div *ngIf="addPostForm.get('description')?.touched && addPostForm.get('description')?.errors?.['required']">
            Il campo è richiesto
          </div>
          <div *ngIf="addPostForm.get('description')?.touched && addPostForm.get('description')?.errors?.['minlength']">
            Il campo deve essere lungo almeno 10 caratteri
          </div>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <button mat-flat-button color="primary" [disabled]="!addPostForm.valid" (click)="onAddPost()">Aggiungi post</button>
      </div>
    </form>
  </div>
</div>
